* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    
    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header ul {
  display: flex;
  gap: 10px;
  list-style: none;

}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid black;
}

