* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header {

    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header ul {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}

.header a {
    color: #000000;
}

.header-bottom-container {
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 180px;

}

.bottom-header {
    background-color: #6aafca;
    height: 650px;
    padding-top: 70px;
}

.main-head {
    background-color: #8a2be2;
    height: 180px;
}

.grill1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}

.grill1-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.sub-grill1-h {
    background-color: #441dad;
    height: 60px;
    width: 30%;
}

.sub-grill1 {
    background-color: #a52a2a;
    height: 800px;
    width: 30%;
}

.team-header {
    background-color: #00ffff;
    margin-top: 40px;
    height: 40px;
}

.team-bottom {
    background-color: #7fff00;
    height: 200px;
}

.grill3 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.sub-grill3-60 {
    background-color: #cc6b11;
    height: 400px;
    width: 60%;
}

.sub-grill3-35 {
    background-color: #ffe600;
    height: 400px;
    width: 35%;
}

.grill4 {
    background-color: #dc143c;
    height: 80px;
    margin-top: 100px;
    margin-bottom: 45px;
}

.grill5 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.sub-grill5 {
    background-color: #ff69b4;
    width: calc(95% / 3);
    height: 400px;
  }

  .grill6 {
    background-color: #ff0000;
    height: 200px;
    margin: 40px 0px;
  }

  .footer {
    margin: 0 auto;
    display: flex;
    background-color: black;
    height: 500px;
    
  }

  .footer-list {
    display: inline-block;
    height: 350px;
    width: calc(98% / 5);
    background-color: green;
    justify-content: space-between;
    
  }

  .footer ul {
    list-style: none;
  }

  .container2 {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .header .btn {
    color: white;
    background-color: blue;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
  }

  .btn {
    color: white;
    background-color: blue;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
  }

  .head-title {
    font-size: 90px;
    font-weight: 900;
  }

  .h-col {
    display: flex;
  }

  .h-40 {
    margin-top: 50px;
    font-size: 17px;
  }

  .h-60 {
    width: 80%;
  }

  .img-h-60 {
    padding-top: 50px;
    width: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }

  .h-col30 {
    gap: 20px;

    width: 40%;
  }

  .mtb-10 {
    margin: 20px 0px 20px 0px;
  }

  .arrow {
    margin-top: 60px;
    font-size: 50px;
  }

  

