* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.header {

    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

ul {
    list-style: none;
}

.header a {
    color: #000000;
}

.header-bottom-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 180px;

}

.bottom-header {
    background-color: #6aafca;
    padding-top: 70px;
}

.grill1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}

.grill1-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.sub-grill1-h {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 30%;
    margin-bottom: 10px;
}

.sub-grill1 h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.sub-grill1 h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.sub-grill1 p {
    font-size: 14px;
    margin-bottom: 10px;
}

.sub-grill1 li {
    font-size: 16px;
    margin-bottom: 15px;
}

.sub-grill1 ul {
    margin: 60px 0px;
}

.buynow {
    padding: 30px 0px;
}

.buynow a {
    text-decoration-line: underline;
}

.hr {
    color: #ffffff;
    width: 60px;
}

.fa-check {
    color: rgb(0, 81, 255);
}

.sub-grill1 {
    padding: 30px;
    width: 30%;
    border: 1px solid #00000015;
}

.team-header {
    margin-top: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00000015;
}

.team-bottom {
    border: 1px solid #00000015;
    padding-bottom: 50px;
    display: flex;
}

.grill3 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    
}

.sub-grill3-60 {
    width: 65%;
}

.sub-grill3-60 img {
    object-fit: contain;
    object-fit: cover;
    width: 100%;
}

.sub-grill3-35 {
    width: 35%;
}

.grill4 {
    background-color: #dc143c;
    height: 80px;
    margin-top: 100px;
    margin-bottom: 45px;
}

.grill5 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.sub-grill5 {
    background-color: #ff69b4;
    width: calc(95% / 3);
    height: 400px;
  }

  .grill6 {
    background-color: #ff0000;
    height: 200px;
    margin: 40px 0px;
  }

  .footer {
    margin: 0 auto;
    display: flex;
    background-color: black;
    height: 500px;
    
  }

  .footer-list {
    display: inline-block;
    height: 350px;
    width: calc(98% / 5);
    background-color: green;
    justify-content: space-between;
    
  }

  .footer ul {
    list-style: none;
  }

  .container2 {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .header .btn {
    color: white;
    background-color: blue;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
  }

  .btn {
    color: white;
    background-color: blue;
    padding: 7px 14px;
  }

  .btn-light {
    color: #000000;
    background-color: #ffffff;
    padding: 7px 14px;
    border: 1px groove black;
  }

  .head-title {
    font-size: 110px;
    font-weight: 900;
  }

  .h-col {
    display: flex;
  }

  .h-40 {
    margin-top: 125px;
    font-size: 17px;
  }

  .h-60 {
    width: 80%;
    position: relative;
    top: 80px;
  }

  .img-h-60 {
    padding-top: 50px;
    width: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
  }

  .h-col30 {
    gap: 20px;
    width: 40%;
  }

  .mtb-20 {
    margin: 20px 0px 30px 0px;
  }

  .arrow {
    margin-top: 60px;
    font-size: 50px;
  }

  .radio-btn {
    margin: 40px 0px 30px 0px;
  }

  .h2-main {
    font-size: 40px;
  }

  .col-60 {
    width: 60%;
    padding: 20px 0px 0px 20px;
  }

  .col-60 h3 {
    font-size: 25px;
    padding-bottom: 20px;
  }

  .col-60 h4 {
    font-size: 14px;
    padding-bottom: 80px;
  }

  .col-40 {
    position: relative;
    left: 200px;
    top: 40px;
    width:40%;
  }

  

